@keyframes color-change {
  from {
    color: #ffefd5;
  }
  to {
    color: #808000;
  }
}

@keyframes shadow-move {
  from {
    box-shadow: 4px 4px 4px #E0FFFF;
  }
  to {
    box-shadow: -4px -4px 4px #E0FFFF;
  }
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.page {
  inline-size: 100vw;
  block-size: 100vh;
  box-sizing: border-box;
  background-image: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #808000);
  font-family: "Raleway", sans-serif;
}

.wrapper {
  inline-size: 50vw;
  block-size: 100vh;
  margin-inline: auto;
  position: relative;
  background-image: url(./photo_2025-01-16_17-13-01.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

.disgusting {
  padding-inline: 5px;
  display: grid;
  font-weight: 700;
  color: #ffefd5;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #1a1a1a, -1px -1px 0 #1a1a1a, 1px -1px 0 #1a1a1a,
    -1px 1px 0 #1a1a1a;
}

.disgusting__title {
  margin-block-start: 10vh;
  font-size: clamp(3.125rem, 2.652rem + 2.0182vw, 4.375rem);
  text-align: end;
}

.disgusting__text {
  margin-block-end: 10vh;
  align-self: end;
  font-size: clamp(2.1875rem, 1.8327rem + 1.5136vw, 3.125rem);
}

.meh {
  font-size: clamp(3.5625rem, 3.0185rem + 2.3209vw, 5rem);
  text-shadow: 2px 2px 0 #1a1a1a, -2px -2px 0 #1a1a1a, 1px -1px 0 #1a1a1a,
    -1px 1px 0 #1a1a1a;
  animation: color-change 2.5s infinite alternate linear;
}

.love {
  font-size: 25%;
  padding-inline-start: 5vw;
}

.form {
  margin-inline-end: 40px;
  justify-self: end;
}

.chance {
  padding: 15px 50px;
  background-color: rgba(220, 236, 220, 0.7);
  border: 3px solid transparent;
  font-size: clamp(0.875rem, 0.7331rem + 0.6054vw, 1.25rem);
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  color: #1a1a1a;
  animation: shadow-move 1s infinite linear alternate;
}

.chance:hover {
  transform: scale(1.1);
  transition: transform 0.3s linear;
}

@media (width <= 768px) {
  .wrapper {
    inline-size: 100vw;
  } 
}